@import "tailwindcss";

@theme {
    --font-mont: var(--font-mont), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-dark: #1b1b1b;
    --color-light: #f5f5f5;
    --color-primary: #B63E96;
    --color-primary-dark: #58E6D9;
    /* Renamed from primaryDark */

    --background-image-circular-light: repeating-radial-gradient(rgba(0, 0, 0, 0.4) 2px, #f5f5f5 5px, #f5f5f5 100px);
    --background-image-circular-dark: repeating-radial-gradient(rgba(255, 255, 255, 0.5) 2px, #1b1b1b 8px, #1b1b1b 100px);
    --background-image-circular-light-lg: repeating-radial-gradient(rgba(0, 0, 0, 0.4) 2px, #f5f5f5 5px, #f5f5f5 80px);
    --background-image-circular-dark-lg: repeating-radial-gradient(rgba(255, 255, 255, 0.5) 2px, #1b1b1b 8px, #1b1b1b 80px);
    --background-image-circular-light-md: repeating-radial-gradient(rgba(0, 0, 0, 0.4) 2px, #f5f5f5 5px, #f5f5f5 60px);
    --background-image-circular-dark-md: repeating-radial-gradient(rgba(255, 255, 255, 0.5) 2px, #1b1b1b 6px, #1b1b1b 60px);
    --background-image-circular-light-sm: repeating-radial-gradient(rgba(0, 0, 0, 0.4) 2px, #f5f5f5 5px, #f5f5f5 40px);
    --background-image-circular-dark-sm: repeating-radial-gradient(rgba(255, 255, 255, 0.5) 2px, #1b1b1b 4px, #1b1b1b 40px);
}

@variant dark (&:where(.dark, .dark *));