name: Build & Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build-and-lint:
    name: Build & Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Build project
        run: npm run build
        env:
          CI: true

      - name: Upload static export
        uses: actions/upload-artifact@v6
        with:
          name: production-files
          path: ./out

  deploy:
    name: Deploy to GitHub Pages
    needs: build-and-lint
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    
    permissions:
      contents: write

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: production-files
          path: ./out

      - name: Deploy to External Repository
        uses: peaceiris/actions-gh-pages@v4
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          external_repository: akarthikbunny/akarthikbunny.github.io
          publish_dir: ./out
          commit_message: "Deploy: ${{ github.sha }}"
